<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hurdad.scribble"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        <activity
            android:name=".Scribble"
            android:label="@string/title_activity_scribble"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrushModifyActivity"
            android:label="@string/title_activity_scribble" >
        </activity>
        <activity
            android:name=".ServerListActivity"
            android:label="@string/title_activity_scribble" >
        </activity>

        <!-- RECEIVERS -->
        
        <!-- HANDLE WHEN BLUETOOTH SCAN FINDS DEVICE -->
        <receiver android:name=".ServerListActivity$DeviceFoundReceiver"
            		android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>
    </application>

</manifest>